<div>
    <p>
        Hi <%= comment.user.name%>
    </p>
    <br>
    <p>
        Your comment <strong><%= comment.content %></strong> got published !
    </p>
    <br> <br>
    <p>Thanks !</p>
</div>