#home-container {
  display: flex;
}

#home-container #feed-posts {
  width: 70%;
  padding: 5%;
}

#home-container #user-friends {
  width: 30%;
  padding: 5%;
  border-left: 1px solid lightgray;
  height: 100%;
  text-align: center;
}
